.detalle-factura{
	width: 500px;
	min-width: 500px;
}
.detalle-factura input{
	text-align: center;
}
.detalle-factura select{
	text-align: center;
}
.detalleFacturaTotal{

}
.table thead th{
	text-align: center;
}
.tableFactura{
	padding: 10px;
}
.tcp{
	padding-top: 30px;
	margin-bottom: 15px;
	min-width: 600px;
}
.detalle{
	border: 2px solid purple;
	border-radius: 20px;
	margin-left: 1px;
	min-width: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#tableCompraProductos thead th{
	text-align: center;
}
#tableCompraProductos tbody td{
	text-align: center;
}
#tableCompraProductos tfoot th{
	text-align: center;
}
#ModalproductoAdd input{
	text-align: center;
}
#ModalproductoAdd select{
	text-align: center;
}

#custom-tabs-four-profile{
	overflow-x: auto;
	padding: 20px;
}

#tableAdmin thead th{
	text-align: center;
}
#tableAdmin tbody td{
	text-align: center;
}
#tableAdmin tfoot th{
	text-align: center;
}
#editCompra input {
	text-align: center;
}