

.tablaEstilosPlanes{
	padding:15px;
	border:2px solid darkorange;
	border-radius: 20px;
	max-width: 600px;
}

.tablaEstilosPlanes thead tr th{
	text-align: center;
}

.tablaEstilosPlanes tbody tr td{
	text-align: center;
}

.tablaEstilosClasificacion{
	padding:15px;
	border:2px solid darkorange;
	border-radius: 20px;
	max-width: 530px;
}

.tablaEstilosClasificacion thead tr th{
	text-align: center;
}

.tablaEstilosClasificacion tbody tr td{
	text-align: center;
}