form input {
    text-align: center;
}

form select {
    text-align: center;
}

.busqueda{
    display: flex;
    gap: 10px;
}

.busqueda input{
    width: 200px;
    margin-right: 0;
    margin-left: auto;
}

thead tr th{
    vertical-align: center;
    text-align: center;
}

tbody tr td{
    vertical-align: center;
    text-align: center;
}

tbody button{
    margin: 2px;
}

.cuerpoTabla{
    padding: 20px;
    min-width: 900px;
}

.card-body{
    overflow: auto;
}
.facturaDetalle{
    max-height: 400px;
    overflow: auto;
}



#modalDetalle input{
 text-align: center;
}